* {
  padding: 0;
  margin: 0;  
}
a {
  text-decoration: none;
  list-style-type: none;
}
a:hover {
  text-decoration: none;
  list-style-type: none; 
}

/********HEADER*********/

header {
  width: 100%;
  height: 800px;
  background-color: royalblue;
}

